@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Red Rose', cursive;
    font-size: 20px;
    background: linear-gradient(to bottom right ,darkcyan, cyan);
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: first baseline;
    justify-content: space-around;
    

}

.app {
    background-color: darkcyan;
    max-width: 1200px;
    border-radius: 6px;
    box-shadow:  0px 0px 15px 2px rgba(0, 0, 0, 0.9);
    padding: 35px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.app__title {
    font-size: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.app__heading { font-weight: 700; }

.app__description { font-size: 80%;}

.app__function {
    display: flex;
    justify-content: flex-start;
}

.app__file_input { 
    background-color: darkcyan;
    font-size: 100%;
    margin-right: 50px;
}

.app__file_submit { 
    font-size: 100%;
    background-color: #efefef;
    color: black;
}

.app__display {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.app__pandas_data {
    margin: 50px;
    padding: 10px;
}
.app__pandas_data_message { 
    background-color: #efefef;
    font-size: 100%;
    color: black;
    margin: 20px 0;
}